
h1{
 text-align: left; 
 margin-left: 20px;
 }

p{
    text-align: left; 

   }


.quemsomos{
   width: 940px;
  padding: 10px;
  margin-left: 20px;
}
.imagemchave{
 position: absolute;
 right: 100px;
  
}

.textocorpo{
  text-align: 20px; 
  width: 940px;
  margin-left: 20px;
  }
