.principal{

    margin-top: 15px;



}



#missao{


    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
    padding-bottom: 2px;
    padding: 20px 5px 20px 45px;
   border-bottom: 8px solid #ffc720;
}


.popular{


    font-size: 30px;
    font-weight: bold;
    text-align: center;
}




.imagem-pricipal{

    opacity: 0.8;
}

.img_fundo{
    opacity: 1;
    background-repeat: no-repeat;
    height: 400px;

}

.box-img{
    size-adjust: center;
    background: url(../img/Volkswagen-Kombi.jpg);
    opacity: 1;
    height: 50%;
    width: 80%;
    border: 2PX solid black;
    background-position: center;
    background-size: auto;
    position: absolute;
    right: 10%;
    top: 100px

    
    
}

@media (max-width:992px) {
    .box-img {top: 250px;
    background-size: left;
    background: url(../img/Volkswagen-Kombi.jpg);
    background-position: left;
}
}


.img-principal{
    opacity: 0.2;

}
