.principal{

    margin-top: 15px;



}



#missao{


    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
    padding-bottom: 2px;
    padding: 20px 5px 20px 45px;
   border-bottom: 8px solid #ffc720;
}


.popular{


    font-size: 30px;
    font-weight: bold;
    text-align: center;
}




.imagem-pricipal{

    opacity: 0.8;
}

.img_fundo{
    opacity: 1;
    background-repeat: no-repeat;
    height: 400px;

}

.box-img{
    size-adjust: center;
    background: url(https://cdn.motor1.com/images/mgl/7ZL4go/s3/bmw-320i-msport-2021.jpg);
    opacity: 1;
    height: 50%;
    width: 80%;
    border: 2PX solid black;
    background-position: center;
    background-size: auto;
    position: absolute;
    right: 10%;
    top: 100px;
    border-radius: 10px;
   
    

    
    
}

@media (max-width:992px) {
    .box-img {top: 250px;
    background-size: left;
   background: url(../img/Volkswagen-Kombi.jpg);
    
    background-position: left;
}
}


.img-principal{
    opacity: 0.2;

}

.borda{

    margin-top: 2px;
    margin-bottom: 10px;
    border-bottom: 10px solid #DBB52D;
}



.fale-com-vendedor{

width: 80%;
height: 400px;
border-radius: 5px;
background: black;
margin: 0 30px;
position: relative;


}

.fale-com-vendedor p{

    color:#DBB52D;
    font-size: 2rem;
    padding-left: 5px;

 }


 .fale-com-vendedor-input{

    width: 80%;
    padding: 10px;
   margin: 2px auto;
   border-radius: 10px;
 }

 .fale-com-vendedor-submit{

   
   width: 20%;
   padding: 20px;
   position: relative;
   bottom: 25px;
    left: 47%;
 }


 form textarea{

    border-radius: 10px;
    margin-left: 2px;
 }


 .como-deseja-forms label,legend{

    color:#DBB52D;


 }
 .como-deseja-forms label{

    color: #DBB52D;
    margin-left: 2px;


 }

 .como-deseja-informacao{

    position: absolute;
    right:30px;
    top: 130px;
 }

.infos{

    border: 1px solid black;
   
    border-radius: 10px;
    margin: 10px 5px;
}
 .informacoes-carro p{

    border: 1px solid rgba(211, 203, 203, 0.719);
    text-align: center;
 }


 .info-sobre{


   background: #D9D9D9;
 }

.infos-sobre-carro{

    width: 90%;
  
    margin: 0 auto;
}



.infos-sobre-carro p{


    font-size: 25px;
}


.itens-carro{


    display: flex;
    justify-content: space-around   ;
    
}

.itens{

    border: 1px solid black;
}